<%- include('../partials/header') %>
<h1>📖 Your latest reads 📖 </h1>
<div class="form-group" >
        <% if (!books.length) { %>
          <button class="btn btn-warning"><a href="/books/new">📚  No books? Let's add some! 📚</a></button>
          </div>
            <% } %> 
<div class="book-list-page">
      <% books.forEach((b) => { %>
        <div class="row">
          <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h2 class="card-title"><%= b.title %> </h2>
            <p class="card-text">
              By: <%= b.author %>
            </p>
            <p class="card-text-twice">
              Read before? <%= b.readTwice ? 'Yes' : 'No' %> %>
            </p>
            <br>
            <% if (!b.reviews.length) { %>
              <a href="/books/<%= b._id %>" class="btn-review btn-info">Add A Review or Update</a> <br>
                <% } else { %>
                  <a href="/books/<%= b._id %>" class="btn-review btn-info">Update Book Info</a> <br>
                <% } %>
            <form action="/books/<%= b._id %>?_method=DELETE" method="POST">
              <td><button type="submit"class="btn-delete btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg> Delete</button></td>
            </form>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

  

  <%- include('../partials/footer') %>