<%- include('../partials/header') %>

    <table id='list'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
        <% if (!books.length) { %>
            <h1>Let's add some books! </h1>
            <button><a href="/books/new">Add Book</a></button>
        <% } %> 
      <% books.forEach((b) => { %>
        <tr>
        <form action="/books/<%= b._id %>?_method=DELETE" method="POST">
        <td><button type="submit">Make a Mistake?</button></td>
        <td><%= b.title %></td>
        <td><%= b.author %></td>
        <td><a href="/books/<%= b._id %>">Add A Review</a></td>
        </tr>
      <% }) %>
      </form>
    </tbody>
  </table>

  <%- include('../partials/footer') %>