<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= book.title %></div>
  <div>Author: </div>
  <div><%= book.author %></div>
  <div>Have you read this before?: </div>
  <div><%= book.readAgain ? 'Yes' : 'No' %></div>
  <div>Overall Impression: </div>
  <div><%= book.overallImpression %></div>
</section>

<h2>Reviews</h2>
<form id="add-review-form" method="POST" action="/books/<%= book._id %>/reviews">
  <label>Review:</label>
  <textarea name="comment"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1 Why did someone recommend this?</option>
    <option value="2">2 This was missing something</option>
    <option value="3">3 Was pretty okay</option>
    <option value="4">4 This book was good! Should be a movie too</option>
    <option value="5">5 EVERYONE SHOULD READ THIS NOW!</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (book.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% book.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.comment %></td>
          <td><%= r.rating %></td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
        <td>
          <strong>Average Rating: <%= (total / book.reviews.length).toFixed(1) %></strong>
        </td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<h3>Would you like to update your book?</h3>
<form action="/books/<%= book._id %>?_method=PUT" method="POST">
  <input type="text" value="<%= book.title %>" name="title" placeholder="Title">
  <input type="text" value="<%= book.author %>" name="author" placeholder="Author">
  <input type="checkbox" <%= book.readAgain ? 'checked' : '' %> name="readAgain">Have you read this before?<br><br>
  <button type='submit'>Update Book Info</button>
</form>

<%- include('../partials/footer') %>