<%- include('../partials/header') %>

<h1><%= book.title %> <br>
By: <%= book.author %> </h1>

<% if (book.reviews.length) { %>
  <br>
<% } else { %>
<form class="add-review pure-form-stacked" id="add-review-form" method="POST" action="/books/<%= book._id %>/reviews">
  <fieldset>
    <legend class="review-title">Add a Review</legend>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
          <label for="multi-first-name">Review:</label>
          <input type="text" name="comment" id="multi-first-name" class="pure-u-23-24" />
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
          <label for="multi-state">Rating:</label>
          <select name="rating" id="multi-state" class="pure-input-1-2">
            <option value="1">1 Why did someone recommend this?</option>
            <option value="2">2 This was missing something</option>
            <option value="3">3 Was pretty okay</option>
            <option value="4">4 This book was good! Should be a movie too</option>
            <option value="5">5 EVERYONE SHOULD READ THIS NOW!</option>
          </select>
      </div>
  </div>
  <input type="submit" class="btn btn-dark" value="Add Review">
    </fieldset>
</form>
<% } %>
<div class="actual-review">
<% if (book.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% book.reviews.forEach(function(r) { %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.comment %></td>
          <td><%= r.rating %></td>
        </tr>
          <% }); %>
    </tbody>
  </table>
  <form action="/books/<%= book._id %>/reviews?_method=DELETE" method="POST">
    <td><button type="submit"class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
    </svg> Delete</button></td>
  </form>
<% } else { %>

<% } %>
</div>
<div class="message-page">
  <h2><strong>Would you like to update your book?</strong></h2>
    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
      <input type="text" value="<%= book.title %>" name="title" placeholder="Title">
      <input type="text" value="<%= book.author %>" name="author" placeholder="Author"> <br>
      <input type="checkbox" <%= book.readTwice ? 'checked' : '' %> name="readTwice">Have you read this before?<br><br>
      <button type='submit' class="btn btn-dark">Update Book Info</button>
    </form>
</div>
<%- include('../partials/footer') %>