<%- include('../partials/header') %>

<h1><%= title %></h1>

<div class="card-user" style="width: 18rem;">
  <img 
		id="avatarPhoto"
		style="height: 18rem;"
		class="card-img-top"
		src="<%= userInfo.avatar %>" 
		alt="Card image cap">
  <div class="card-header"></div>
  <div class="card-body">
    <h2 class="card-title"><%= userInfo.nickname %></h2>
    <p class="card-text">
			Joined: <%= userInfo.createdAt.toLocaleString().split(',')[0] %>
		</p>
    <p class="card-text">Books they have read:</p>
    <% // This is where we'll iterate over the games with a forEach %>
    <% books.forEach(book => { %>
      <a href="/books/<%= book._id %>"><%= book.title %></a><br>
    <% }) %><br>


<%- include('../partials/footer') %>